<div class="count-down-limit">
    <div class="count-down-limit__form">
      <label>Enter Timer Limit </label>
      <div class="count-down-limit__inputs">
        <input #timerLimit />
        <div class="count-down-limit__buttons">
          <button
            class="start"
            [hidden]="isStarted"
            (click)="start(timerLimit.value)"
          >
            Start
          </button>
          <button class="pause" [hidden]="!isStarted" (click)="pause()">
            Pause
          </button>
          <button class="reset" (click)="reset(timerLimit)">Reset</button>
        </div>
      </div>
    </div>
  </div>
  