.students-table-container {
  margin: 50px 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px black solid;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
