<div class="students-table-container">
  <h2>Sort Order : {{ sortOrder | json }}</h2>
  <div class="students-table">
    <table>
      <tr *ngIf="studentsList.length">
        <th
          (click)="toggleOrder(head)"
          *ngFor="let head of studentsList[0] | keysPipe"
        >
          {{ head }}
        </th>
      </tr>
      <tr *ngFor="let student of studentsList | sortStudents: sortOrder">
        <td *ngFor="let prop of student | keysPipe">{{ student[prop] }}</td>
      </tr>
    </table>
  </div>
</div>
