<div class="home">
  <nav>
    <ul>
      <li>
        <a routerLink="/banner">Banner Component</a>
      </li>
      <li>
        <a routerLink="/count-down">Count Down Component</a>
      </li>
      <li>
        <a routerLink="/count-down-2">Count Down Subject Component</a>
      </li>
      <li>
        <a routerLink="/product-list">List Component</a>
      </li>
      <li>
        <a routerLink="/students-table">Student Component</a>
      </li>
      <li>
        <a routerLink="/dynamic-div">Dynamic Div Component</a>
      </li>
    </ul>
  </nav>
</div>
